<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webwebsite.mapper.LessonMapper">

    <select id="getTotalLessonsCount" parameterType="long" resultType="int">
        SELECT COUNT(id)
        FROM lesson
        WHERE course_id = #{courseId}
    </select>

    <select id="getTotalCourseDuration" parameterType="long" resultType="int">
        SELECT COALESCE(SUM(duration), 0)
        FROM lesson
        WHERE course_id = #{courseId}
    </select>

</mapper>
